* {
	margin: 0;
	padding: 0;
}

form {
	width: 300px;
	height: 44px;
	border: 1px solid rgba(0, 0, 0, .8);
	border-radius: 6px;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;

}

form input {
	flex: 1;
	height: 36px;
	outline: none;
	background: transparent;
	border: 0;
}


button {
	width: 100px;
	height: 34px;
	font-size: 16px;
	border: 1px solid #00aeec;
	background-color: #00aeec;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
}

form img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.bigger {
	max-width: 2000px;
	min-width: 1100px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 40px;

}


.bigger-in {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
}

.bigger-in .col {
	flex: 25%;
	max-width: 25%;
	padding: 0 8px;
	margin-bottom: 30px;
	box-sizing: border-box;
}



.col-in1 {
	width: 100%;
	background-color: #F1F2F3;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}

.col-in1 video {
	width: 100%;
	/* height: 100%; */
}

.col img {
	position: absolute;
	left: 0;
}

.col-special {
	width: 100%;
	background-color: #F1F2F3;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: relative;
	box-sizing: border-box;
}



.col-in1 img {
	width: 100%;
	height: 100%;
}

.col-in1 p {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 16px;
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	height: 30px;
}

.col-in2 h3 {
	font-size: 14px;
	line-height: 22px;
}

.col-in2 p {
	margin-top: 3px;
}



@media (min-width:1100px) {
	.bigger-in {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;
	}

	.bigger-in .col {
		flex: 25%;
		max-width: 25%;
		padding: 0 8px;
		margin-bottom: 30px;
		box-sizing: border-box;
	}

	.header-img {
		width: 240px;
	}

	.header-menu li {
		width: 80px;
	}

	.header-right li {
		margin-right: 0px;
	}
}

@media (min-width:1500px) {
	.bigger-in {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;
	}

	.bigger-in .col {
		flex: 20%;
		max-width: 20%;
		padding: 0 8px;
		margin-bottom: 30px;
		box-sizing: border-box;
	}
}

@media (min-width:1800px) {
	.bigger-in {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;
	}


	.bigger-in .col {
		flex: 16.666666%;
		max-width: 16.666666%;
		padding: 0 8px;
		margin-bottom: 30px;
		box-sizing: border-box;
	}

	.header-img {
		width: 300px;
	}

	.header-menu li {
		width: 90px;
	}

	.header-right li {
		margin-right: 32px;
	}

	form {
		width: 500px;
	}
}

.bigger-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.bigger-bottom span {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-right: 5px;
}

.bigger-bottom span:hover {
	background-color: #00aeec;
}

.col {
	transition: all .3s;
}

.col:hover {
	transform: scale(1.1);
}
